name: on_commit

on:
  push:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3

      - name: setup
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          clang-format cppcheck libgtk-4-dev pkg-config

      - name: check
        run: just check
